@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <TaskForm />
    </Authorized>
    <NotAuthorized>
        <p class="text-center text-danger">Musisz być zalogowany, aby zobaczyć listę zadań.</p>
    </NotAuthorized>
</AuthorizeView>
