@page "/addtask"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject TaskService TaskService
@using BlazorTaskManager.Data
@using BlazorTaskManager.Models;
@using BlazorTaskManager.Models.Tasks;

<div class="container">
    <h3 class="text-center mb-4">➕ Dodaj nowe zadanie</h3>

    <div class="input-group">
        <input @bind="newTask.Title" class="form-control" placeholder="Wpisz nazwę zadania..." />
        <button class="btn btn-success" @onclick="AddTask">✔️ Dodaj</button>
    </div>

</div>

@code {
    private TaskItem newTask = new();

    private async Task AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTask.Title))
        {
            await TaskService.AddTaskAsync(newTask);
        }
    }
}
