@page "/addtask"
@inject TaskContext TaskContext
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@using BlazorTaskManager.Data
@using BlazorTaskManager.Models;
@using BlazorTaskManager.Models.Task;

<h3>Dodaj nowe zadanie</h3>

<div>
    <label>Tytuł:</label>
    <input @bind="newTask.Title" class="form-control" />
</div>

<button class="btn btn-success mt-2" @onclick="AddTask">Dodaj</button>

@code {
    private TaskItem newTask = new();

    private void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTask.Title))
        {
            TaskContext.Tasks.Add(newTask);
            TaskContext.SaveChanges();
            Navigation.NavigateTo("/");
        }
    }
}
